nav {
   display: flex;
   justify-content: space-around;
   font-family: 'Palette Mosaic', cursive;
   font-size: 40px;
}

nav a{
   text-decoration: none;
   color: black
}

nav a.current{
   text-shadow: 2px 2px #8a8989;
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}


div#form-wrapper {
   margin-top: 3%;
}

div#form-wrapper h1#form-title {
   font-family: 'Inspiration', cursive;
   font-size: 60px;
}

div#form-wrapper form{
   display: flex;
   flex-direction: column;
}

div#form-wrapper form input{
   margin-bottom: 20px;
}

div#form-wrapper form textarea{
   resize: none;
}

div#form-wrapper form input[type='submit']{
   margin: 20px auto;
   background-color: rgb(165, 109, 218);
   border-radius: 10px;
   font-size: 20px;
}


