body {
   background-color: rgb(227, 231, 238);
}


nav {
   display: flex;
   justify-content: space-around;
   font-family: 'Palette Mosaic', cursive;
   font-size: 40px;
}

nav a{
   text-decoration: none;
   color: black
}

nav a.current{
   text-shadow: 2px 2px #8a8989;
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}


div#form-wrapper {
   margin-top: 3%;
}

div#form-wrapper h1#form-title, main h1#home-title {
   font-family: 'Inspiration', cursive;
   font-size: 60px;
}

div#form-wrapper form{
   display: flex;
   flex-direction: column;
}

div#form-wrapper form input{
   margin-bottom: 20px;
}

div#form-wrapper form textarea{
   resize: none;
}

div#form-wrapper form input[type='submit']{
   margin: 20px auto;
   background-color: rgb(165, 109, 218);
   border-radius: 10px;
   font-size: 20px;
}

main div#home-wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

main div#home-wrapper img#home-img {
   border-radius: 20px;
}

main div.card {
   position: relative;
   border: 2px solid black;
   width: 225px;
   height: 250px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 40px;
   padding: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main div.card h3.card-title {
   font-size: 25px;
   margin-top: 10px;
   margin-bottom: 10px;
   font-family: 'Bebas Neue', cursive;
}

main div.card p.card-message {
   margin-top: 0;
   padding: 10px;
   font-family: 'Courier New', Courier, monospace;
}

main div.card p.signature {
   position: absolute;
   bottom: 5px;
   right: 10px;
   margin: 2px;
   color: #383838;
   font-style: italic;

}

main#grid {
   display: grid;
   grid-template-columns: repeat(4, minmax(250px, 1fr));
   grid-gap: 20px;
   align-items: stretch;
}
